GoCheeta-Client/src/wsdl/localhost_8080/GoCheeta-Server/NewWebServiceGoCheeta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://GoCheeta/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://GoCheeta/">

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="getDriver" type="tns:getDriver"/>

<xs:element name="getDriverResponse" type="tns:getDriverResponse"/>

<xs:element name="getDrivers" type="tns:getDrivers"/>

<xs:element name="getDriversResponse" type="tns:getDriversResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriver">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="telno" type="xs:int"/>
<xs:element name="vehicle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="dv" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDrivers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDriversResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>